body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

a{
    color: #C99C2A;
}

.navbar{
    height: 4rem;
    background-color: #050401;
    opacity: 65%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    z-index: 99999;
}
.navbar .myweb{
    font-family: 'Kaushan Script', cursive;
    margin-left: 2rem;
    font-size: 2.7rem;
    height: 100%;
    color: #C99C2A;
    text-shadow: 0 0 0.5rem yellow;
}
.navbar .navigation ul{
    margin-right: 6rem;
    display: flex;
}
.navbar .navigation ul li{
    margin-left: 2.5rem;
}
.navbar .navigation a:hover{
    text-shadow: 0 0 1rem yellow;
    border-bottom: 5px solid #705510;
}

.hero{
    height: 40rem;
    background-image: url(img/nature.jpg);
    background-size: cover;
}
.hero h1{
    font-size: 50px;
    position: absolute;
    top: 340px;
    margin-left: 2rem;
}
.hero h2{
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 400px;
    margin-left: 2rem;
    text-shadow: 0 1px 1px #705510;
}
#me{
    background-image: url(img/ISOL\ 7.JPG);
    background-size: 300px;
    background-position-x: -60px;
    background-position-y: -60px;
    border-radius: 40%;
    height: 12rem;
    width: 12rem;
    position: absolute;
    top: 120px;
    right: 6rem;
    border: 2px solid #050401;
    text-indent: -99999px;
}
#me:hover{
    background-image: url(img/isol\ 7.png);
    background-size: 300px;
    background-position-x: -60px;
    background-position-y: -60px;
    box-shadow: 0 0 5px yellow;
}

.about{
    height: 25rem;
    background-image: url(img/isol2.jpeg.png);
    background-size: cover;
    background-repeat: unset;
    background-position: 12px;
    padding: 40px ;
    padding-top: 70px;
    box-sizing: border-box;
    text-align: center;
}
.about h1{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #705510;
}
.about p{
    font-size: 3vw;
}
.about p:hover{
    text-decoration: underline;
}

.skill{
    height: 30rem;
    background-image: url(img/halftone-yellow.png);
    padding: 40px ;
    padding-top: 70px;
}
.skill h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 0 5px #705510;
    text-align: center;
}