body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}
a{
    color: #B0D7FF;
}
h1{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px white;
    margin-bottom: 4vw;
}
.line{
    width: 50%;
    margin: auto;
    margin-top: 4vw;
    border-top: 0.4vw solid #2D3142;
}
.longline{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-top: 0.2vw solid #2D3142;
}
.lightlongline{
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-top: 0.1vw solid #2D3142;
}

/* NAVBAR */
.navbar{
    height: 4rem;
    background-color: rgba(45, 49, 66, .7);;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    line-height: 4rem;
    z-index: 99999;
}
.navbar .myweb{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.3rem;
    height: 100%;
    color: #B0D7FF;
    letter-spacing: 1px;
    line-height: 3.5rem;
	/* text-shadow: 0 1px 0 #ccc,
	             0 2px 0 #c9c9c9,
	             0 3px 0 #bbb,
	             0 4px 0 #b9b9b9,
	             0 5px 0 #aaa,
	             0 6px 1px rgba(0,0,0,.1),
	             0 0 5px rgba(0,0,0,.1),
	             0 1px 3px rgba(0,0,0,.3),
	             0 3px 5px rgba(0,0,0,.2),
	             0 5px 10px rgba(0,0,0,.25),
	             0 10px 10px rgba(0,0,0,.2),
	             0 20px 20px rgba(0,0,0,.15); */
}
.navbar .navigation ul{
    display: flex;
}
.navbar .navigation ul li{
    height: 3.7rem;
    margin-right: 4vw;
}
.navbar .navigation ul li:hover{
    box-sizing: border-box;
    border-bottom: 5px solid #ADACB5;
    text-shadow: 0 0 1rem #EAE8FF;
}

/* HOME */
.home{
    padding-top: 120px;
    padding-bottom: 30px;
    background-image: url(img/home-backgroung.jpg);
    background-size: cover;
}
.home .container{
    width: 100%;
    background-color: rgba(45, 49, 66, .1);
    margin-bottom: 70px;
}
.home h2{
    text-align: center;
    font-size: 4.5vw;
    margin-bottom: 2vw;
    text-shadow: 0 0.5px 1px white;
}
.home h1{
    font-size: 5.5vw;
    font-weight: bold;
}
#me{
    display: block;
    background-image: url(img/isol.png);
    border-radius: 40%;
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-bottom: 5vw;
    text-indent: -99999px;
}
#me:hover{
    background-image: url(img/isolig.png);
    box-shadow: 2px 2px 5px black;
}

/* ABOUT */
#about{
    font-size: 0.2px;
    position: relative;
    top: -170px;
    left:-9999px;
}
.about{
    background-image: url(img/about-background.png);
    background-size: cover;
    background-position: 12px;
    text-align: center;
    padding: 5vw 8vw;
}
.about p{
    font-size: 2vw;
    line-height: 2.5vw;
}
.about p:hover{
    text-decoration: underline;
}


/* SKILL */
#cv{
    font-size: 0.2px;
    position: relative;
    top: -110px;
    left:-9999px;
}
.skill{
    background-image: url(img/skill-background.png);
    padding: 5vw;
}
.skill .desc{
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.skill .container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill .container p{
    display: block;
    padding: 2vw;
    margin: 1.5vw;
    box-sizing: border-box;
    font-size: 2vw;
    color: #B0D7FF;
    text-align: center;
    background-color: #2D3142;
    border-radius: 25%;
}
.skill .container p:hover{
    background-color: #B0D7FF;
    color: #2D3142;
    box-shadow: 2px 2px 5px black;
}

/* EDUCATION */
.education{
    padding: 4vw 8vw;
    background-color: #d8d5db;
    background-image: url(img/education-background.png);
    background-repeat: round;
    font-size: 2vw;
    line-height: 3vw;
}
.education h2{
    font-weight: bold;
    font-size: 2vw;
}
.education p{
    font-style: italic;
    margin-bottom: 10px;
}
.education ul{
    list-style: disc;
    margin-left: 15px;
}
.education .its{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.education .container{
    width: 65vw;
}
.education .its .logo1{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    padding: 5px;
    background-image: url(img/icon/its.png);
    background-size: cover;
}
.education .its .logo2{
    width: 15vw;
    height: 15vw;
    background-image: url(img/icon/smaga.png);
    background-size: cover;
    border-radius: 50%;
}

/* ACHIEVMENT */
.achievment .year{
    width: 12vw;
    background-color: #2D3142;
    color: #B0D7FF;
    padding: 0.2vw 2vw;
    text-align: center;
    margin: auto;
    margin-bottom: 1vw;
}
.achievment p{
    text-align: center;
}

/* GALLERY */
.gallery{
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-image: url(img/gallery-background.jpg);
}
.gallery .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* CONTACT */
#contact{
    font-size: 0.2px;
    position: relative;
    top: -80px;
    left:-9999px;
}
.contact{
    padding: 3vw 8vw;
    background-color: #EAE8FF;
}
.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact a{
    display: block;
    height: 12vw;
    width: 12vw;
    margin: 2vw;
    border-radius: 50%;
    text-indent: -999px;
}
.contact a:hover{
    box-shadow: 0px 2px 5px black;
}
.contact .github{
    background-image: url(img/icon/github.png);
    background-size: cover;
}
.contact .linkedin{
    background-image: url(img/icon/linkedin.png);
    background-size: cover;
}
.contact .lineapp{
    background-image: url(img/icon/lineapps.png);
    background-size: cover;
}
.contact .wa{
    background-image: url(img/icon/whatsapp.png);
    background-size: cover;
}

/* COPYRIGHT */
.copyright{
    text-align: center;
    background-color: #EAE8FF;
    padding-bottom: 2vw;
}

/* FOOTER */
.footer{
    background-color: #2D3142;
    color: #B0D7FF;
    text-align: center; 
    height: 4rem;
    line-height: 4rem;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.3rem;
}

/* MEDIA BREAKPOINT */
@media only screen and (max-width: 700px){
    h1{
        font-size: 28px;
    }
    .home h2{
        font-size: 28px;
    }
    .home h1{
        font-size: 31px;
    }
    #me{
        margin-bottom: 50px;
    }
    .about p{
        font-size: 14px;
        line-height: 18px;
    }
    .skill{
        padding: 35px 56px;
    }
    .skill .desc{
        font-size: 14px;
    }
    .skill .container p{
        font-size: 14px;
        margin: 11px;
    }
    .education{
        font-size: 14px;
        line-height: 18px;
    }
    .education h2{
        font-size: 14px;
    }
    .education .its{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .education .container{
        width: 100%;
    }
    .education .its .logo1{
        margin-bottom: 20px;
        width: 110px;
        height: 110px;
    }
    .education .its .logo2{
        margin-bottom: 20px;
        width: 110px;
        height: 110px;
    }
}
@media only screen and (max-width: 370px){
    .navbar .myweb{
        font-size: 8vw;
    }
    .navbar ul{
        font-size: 3.5vw;
    }
}